<template name="signatureSubmit">
  <form name="signature" class="signature-form form">
    <div class="form-group {{errorClass 'signage'}}">
        <div class="controls">
            <label for="signage">Type your name to sign</label>
            <textarea name="signage" id="signage" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'signage'}}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add signature</button>
  </form>
</template>