@import url(//fonts.googleapis.com/css?family=Roboto:400,700);

$content-width: 550px;
$purp-highlight: #cf64fc;

html {
  
}

body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#eee;
  color:#666
}

a {
  color: darkviolet;
  text-decoration: none;
}
a:hover, a:focus {
  color: $purp-highlight;
  text-decoration: none;
  transition:0.4s;
}


.grid-block, .form-wrap, .post {
  background:#fff;
  border-radius:3px;
  padding:10px 30px;
  margin-bottom:10px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.15);
  box-shadow:0 1px 1px rgba(0,0,0,0.15)
}

.skinny > p{
  max-width:480px;
  margin:0 auto;
}

#main {
  position:relative;
  margin: 0 auto;
}

.page {
  width: 100%;
  margin: 0 auto;
  max-width: 750px;
}

.navbar {
  margin-bottom:20px;
  border:none;
  background-color:turquoise;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: $purp-highlight;
  background-color: turquoise;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: $purp-highlight;
}
.navbar-inverse .navbar-brand {
  color: darkviolet;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: $purp-highlight;
}
.navbar-inverse .navbar-nav > li > a {
  color: darkviolet;
}

.btn-primary {
  background-color: turquoise;
  border-color: turquoise;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #37baaa;
  border-color: #37baaa;
}
.dropdown-menu{
  border:none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
}

#spinner {
  height:300px
}

.post-page {
  padding-top:40px;
  padding-bottom:40px;
/* For modern browsers */
/* For IE 6/7 (trigger hasLayout) */
  *zoom:1;
  position:relative;
  opacity:1
}

.post:before,.post:after {
  content:"";
  display:table
}

.post:after {
  clear:both
}

.post.invisible {
  opacity:0
}

.post.instant {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none
}

.post.animate {
  -webkit-transition:all 300ms 0;
  -moz-transition:all 300ms 0 ease-in;
  -o-transition:all 300ms 0 ease-in;
  transition:all 300ms 0 ease-in
}

img{
  width:100%
}

textarea#content {
  min-height: 300px;
}
.form-wrap{
  background:#fff;
  padding:40px 0;
}
form.main.form.page {
  max-width:550px;
  margin:0 auto;
}
.datepicker{
  padding:6px 12px;
}

.post .upvote {
  display:block;
  margin:7px 12px 0 0;
  float:left
}

.post .post-content {
  //max-width:$content-width;
  margin:0 auto;
}

.post .post-content p {
  margin: 0 0 10px 0;
  line-height: 21px;
}

span.date {
  font-size: 12px;
  font-weight: 400;
}

ul.comments {
  padding: 0 30px;
}

.comments-wrap{
  background:#fff;
  padding:20px 0;
  @extend .post;
  margin-bottom:20px;
}
.comments-wrap p {
  margin: 0 auto;
}
.login-msg{
  margin-left:30px;
}
.comment-form{
  padding:0 30px;
}

ul.signatures, .signature-form{
  //width:$content-width;
  //margin:0 auto;
  max-width:400px;
  padding-left:0;
  margin:0;
}
.comment-form,
.signature-form{
  margin-bottom:10px;
}

.post .view {
  display:block;
  float:right;
  margin:-50px 10px 0 0;
}

.comments, 
.signatures {
  list-style-type:none;
  margin:0 auto;
}

.comments li, 
.signatures li{
  padding:10px 0px;
  margin-bottom:10px;
  border-bottom:1px solid #eee;
}

.comments li h4, 
.signatures li h4{
  font-size:16px;
  margin:0 0 5px 0;
}

.comments li h4 .date,
.signatures li h4 .date {
  font-size:12px;
  font-weight:400
}

.comments li h4 a,
.signatures li h4 a {
  font-size:12px
}

.comments li p:last-child,
.signatures li p:last-child{
  margin-bottom:0
}

.dropdown-menu span {
  display:block;
  padding:3px 20px;
  clear:both;
  line-height:20px;
  color:#bbb;
  white-space:nowrap
}

.load-more {
  display:block;
  border-radius:3px;
  background:rgba(0,0,0,0.05);
  text-align:center;
  height:60px;
  line-height:60px;
  margin-bottom:10px
}

.load-more:hover {
  text-decoration:none;
  background:rgba(0,0,0,0.1)
}

.posts .spinner-container {
  position:relative;
  height:100px
}
.posts {
  max-width:550px;
  margin:0 auto;
}

.jumbotron {
  text-align:center;
  background:#fff;
}

.jumbotron h2 {
  font-size:60px;
  font-weight:100
}

@-webkit-keyframes fadeOut {
0% {
  opacity:0
}

10% {
  opacity:1
}

90% {
  opacity:1
}

100% {
  opacity:0
}
}

@keyframes fadeOut {
0% {
  opacity:0
}

10% {
  opacity:1
}

90% {
  opacity:1
}

100% {
  opacity:0
}
}

.errors {
  position:fixed;
  z-index:10000;
  padding:10px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  pointer-events:none
}

.alert {
  animation:fadeOut 2700ms ease-in 0 1 forwards;
  -webkit-animation:fadeOut 2700ms ease-in 0 1 forwards;
  -moz-animation:fadeOut 2700ms ease-in 0 1 forwards;
  width:250px;
  float:right;
  clear:both;
  margin-bottom:5px;
  pointer-events:auto
}