<template name="postPage">
  <div class="post-page page">
    <div class="status">
      Status: <strong>Pending</strong>
      <button type="button" class="btn btn-default">pending</button>
      <button type="button" class="btn btn-success">accept</button>
      <button type="button" class="btn btn-danger">decline</button>
    </div>
    <div class="post">
      <div class="post-content">
        <h3>{{title}}</h3>
        <div class="content">
          {{content}}
        </div>
      </div>
    </div>
    <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to cleave a comment.</p>
      {{/if}}
  </div>
</template>