<template name ="postsList">
  <div class="posts">
    
      {{#each posts}}
        {{> postItem}}
      {{/each}}
    
    {{#if isNull posts}}
    {{else}}
      <div class="post page jumbotron skinny"><p>You haven't made any proposals or contracts yet. <a href="{{pathFor 'postSubmit'}}">Add one now.</a></p></div>
    {{/if}}
    

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>