<template name="postPage">
  <div class="post-page page">
    <div class="post">
      <div class="post-content">
        <h3>{{title}}</h3>
        <h5>expires: {{formatDate expiration}}</h5>
        <div class="content">
          {{content}}
        </div>
      </div>
      <br><br><br><br>
      <h2>Look good?</h2>
      <ul class="signatures">
        {{#each signatures}}
          {{> signatureItem}}
        {{/each}}
      </ul>
      {{#if currentUser}}
        {{> signatureSubmit}}
      {{else}}
        <p>Please log in to sign it.</p>
      {{/if}}
    </div>
    <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to cleave a comment.</p>
      {{/if}}
  </div>
</template>